/* styles.css */
.smooth-transition {
    transition: color 0.3s ease-in-out, 0.3s ease-in-out;
  }
  
  .smooth-transition:hover {
    color: green;
  }
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#framer {
    display: none;
}

main {
    background-image: linear-gradient(to right, rgb(114, 87, 111), rgba(229, 144, 225, 0.75));
    margin-bottom: 2rem;
}
/* Sticky Nav Styles */

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #333;
    background-image: linear-gradient(to right, white, rgba(229, 144, 225, 0.75));
    padding: 20px 5px;
    padding-right: 150px;
    z-index: 1000;
}

.sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sticky-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.sticky-nav ul li a {
    color: rgb(17, 32, 17);
    text-decoration: none;
}

.sticky-nav ul li a:hover {
    color: rgb(54, 117, 30);
    text-decoration: navajowhite;
}

/* Other styles remain the same */


.overcome {
    position:relative;
    top: 30px;
}

.jesus {
    position: relative;
    top: -85px;
}


#qr {
    width: 50px;   
    position: relative;  
    display: grid;
    align-items: center;
    justify-content: center;
    top: -50px;
 }

h1 {
    font-family: "whisper", "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    font-size: 3.5rem;
}
/* Header Styles */
header {
    background-image: url("images/bg-for-any-app.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #a28787;
    color: aliceblue;
    padding-bottom: 2rem;
    text-shadow: 2px 1px black;
    padding: 1rem;
    text-align: center;
}
.header-mask {
    background-color: rgb(104, 20, 101);
    opacity: 1;
    z-index: infinite;
} 
.take-heart {
    font-weight: bold;
    text-align: center;
    animation: pulse 2s ease-out; /* Animation duration and timing */
}


.header-text {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Animation duration and timing */
    
}
.header-fade {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Animation duration and timing */
}


@keyframes headerIn {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
}



@keyframes fadeIn {
    0% { opacity: 0.2; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
}




@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        color: rgb(224, 193, 221);
       
    }
    50% {
        transform: scale(1.1);
        color: rgb(228, 133, 165);
        text-shadow: 2px 1px black;
        opacity: 0.7;
    }
}

.pulse {
    animation: pulse  3s infinite;
    position: relative;
    top: -15px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #0d0c0c;
    padding-top: 0px;
    padding-bottom: 70px;
    opacity: 0.8;
    
}


@keyframes bounce {
    20%, 50%, 80%, 100%, 0%  {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-35px);
    }
}



/* Example Usage */
.animated-text {
    font-size: 24px;
    text-align: center;
}



.bounce {
    animation: bounce 2s infinite;
   
}


.parallax-header {
    position: relative;
    background-image: url('images/luke_card.png'); /* Replace 'header-image.jpg' with your image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; /* Adjust the height as needed */
    
}
a {
    text-decoration: none;
    color: #0d0c0c;
}
a:hover {
    color:  #0b4f22;
    text-decoration: none;
}
#toggleDropdown {
    background-color: #cf4e4e;
    color: #f2dddd;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}
#toggleDropdown:hover {
    color:gold;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: #0e0e0e;
    background-color: #d5b9b9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #100707;
    color: green;
}

/* Book Card Styles */
#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #0e0e0e;
}

.book-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.book-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.book-card h2 {
    margin-top: 0;
}

.book-card p {
    margin-bottom: 0;
}

.footer {
    display: grid;
    gap: 10px;
    background-color: #524763;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: green;
    text-decoration: none;
    cursor:pointer;   
  }
@media (min-width: 769px) {
    header {
        background-image: url("images/city_bible_reading.png");
        opacity: 0.7;
        color: blanchedalmond;
        padding-bottom: 6rem;
        text-shadow: 3px 1px 1px #0d0c0c;
      
    }

    .overcome {
        position:relative;
        top: 0px;
    }
    .jesus {
        padding: 15px;
    }


    #qr {
       width: 50px;     
    }


    .pulse {
        font-size: 1.3rem;
        background-color: #0d0c0c;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer {
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 1024px) {
    header {
        background-image: url("images/luke_card.png");
        opacity: 0.7;
        color: blanchedalmond;
        font-size: xx-large;
        text-shadow: 3px 1px 1px #0d0c0c;
        padding-bottom: 20rem;
    }

    #qr {
        
        left: 100px;
        top: -275px;
        width: 100px;
        padding: 30px;
        
    }
  
    .pulse {
        font-size: 1.5rem;
        background-color: #0d0c0c;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 0.8;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;

    }


}

