/* styles.css */
.smooth-transition {
    transition: color 0.3s ease-in-out, 0.3s ease-in-out;
  }
  
  .smooth-transition:hover {
    color: rgb(239, 95, 227);
  }
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.bi-arrow-left-square-fill {
    padding-top: 150px;
}

.bi-arrow-right-square-fill {
    padding-top: 150px;
}
.smooth-transition {
    display: none;
}
.bi-pen-fill {
    padding-top: 150px;
    
}
.bi-cup-hot-fill {
    padding-top: 150px;
   
}
.bi-youtube {
    padding-top: 150px;
    
}
#framer {
    display: none;
}
.covenant {
    padding: 20px;
    padding-top: 50px;
    background-color: #000;
}
main {
    background-color:#185738;
    margin-bottom: 2rem;
}

/* Sticky Nav Styles */

.sticky-nav {
    position: sticky;
    top: 50px;
    
    padding: 10px 0px;
    padding-right: 15px;
    background-color:transparent;
    font-size: 1.6rem;
    z-index: 1000;   
    justify-content: space-evenly;
    font-family: Nanum Brush Script;
    color: rgb(240, 29, 29);
}


.jesus {
    font-family: fantasy;
}

.sticky-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sticky-nav ul li {
    display: inline-block;
   margin: auto;
   align-items:flex-end;
   color: rgb(12, 72, 72);
}

.sticky-nav ul li a {
   color: #5f0b0b;
    text-decoration: none;
    background-color:transparent;
}

.sticky-nav ul li a:hover {
    
    color: rgb(228, 222, 229);
    text-decoration: navajowhite;
    

}

/* Other styles remain the same */
.iframe {
    height: 300px;
    padding: 10px;
    padding-top: 15px;
    background-color: black;
   }


.iframe1 {
    padding: 10px;
    position: relative;
    animation-name: iframe1;
    animation-duration: 3s;  
    animation-iteration-count: 1;
    animation-timing-function: ease-out;  
}


.overcome {
    position:relative;
    top: 30px;
    text-shadow: none;
    font-size: x-large;
    z-index: 100;
    color: white;
}
.jesus1 {
    position: relative;
    font-size: 2.4rem;
    top: -300px;
    font-family: Oxygen;
    color: white;
}


.jesus {
    position: relative;
    font-size: 2.4rem;
    top: -300px;
    font-family: Oxygen;
    color: #e9e7ea;
}


#qr {
    width: 50px;   
    position: relative;  
    display: grid;
    align-items: center;
    justify-content: center;
    top: -50px;
    z-index: 0;
 }

h1 {
    font-family: "whisper", "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    font-size: 3.5rem;
}
/* Header Styles */
header {
    background-image: url("jerusalem.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8c6e8e;
    color: aliceblue;
    padding-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}
.header-mask {
    background-color: #010b0e;
    opacity: 1;
    z-index: 100;
} 
.take-heart {
    font-weight: bold;
    text-align: center;
    animation: pulse 2s ease-out; /* Animation duration and timing */
}

p {
    color: rgb(221, 220, 225);
    margin-top: 30px;
}
.header-text {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Animation duration and timing */
    font-family: fantasy;
    color: rgb(242, 243, 248);
   
}
.header-fade {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Animation duration and timing */
}


@keyframes headerIn {
    0% { opacity: 0;  } /* Start with opacity 0 */

    100% { opacity: 1;  } /* End with opacity 1 */
}



@keyframes fadeIn {
    0% { opacity: 0.1;} /* Start with opacity 0 */
    100% { opacity: 0.5;} /* End with opacity 1 */
}




@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        color: rgb(21, 241, 241);
        font-family: fantasy;
        background-color: #9b829b;
        opacity: 0.7;
       
    }
    50% {
        transform: scale(1.001);
        color: rgb(227, 211, 227);
        opacity: 0.3;
    }


    75% {
        transform: scale(1);
        color: rgb(56, 201, 211);
        font-family: fantasy;
        background-color: #675668;
        opacity: 0.5;
    }
}

.pulse {
    animation: pulse  3s infinite;
    position: relative;
    top: -15px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 70px;
    opacity: 0.8;
    
}


@keyframes bounce {
    20%, 50%, 80%, 100%, 0%  {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-35px);
    }
}



/* Example Usage */
.animated-text {
    font-size: 24px;
    text-align: center;
    width: 25%;
    top: 200px;
}



.bounce {
    animation: bounce 3s ease-out;
    background-color: #77547e;
    color: rgb(248, 243, 243);      
    text-align: center;
    opacity: 0.8;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}


.parallax-header {
    position: relative;
    background-image: url('images/luke_card.png'); /* Replace 'header-image.jpg' with your image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; /* Adjust the height as needed */
    
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:  #53fffc;
    text-decoration: none;
}
#toggleDropdown {
    background-color: #93418c;
    color: #f2dddd;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}
#toggleDropdown:hover {
    color:rgb(238, 236, 224);
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    color: #ffffff;
  }
  
  /* Dropdown button */
  .dropbtn {
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    color:#c7dede;
  }
  .dropbtn:hover {
   color: rgb(247, 243, 247);
    background-color:rgb(12, 248, 248);
    background-image: url("jerusalem.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color:rgb(12, 248, 248);
    min-width: 160px;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: scroll;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 11% 0px 0px 0px;
    border: 3px inset palevioletred; 
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: transparent;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: grid;
    left: -50px;
    color: white;
    background-color:rgb(12, 248, 248);
    background-image: url("images/bg-for-any-app.png");
    background-repeat: no-repeat;

    grid-template-columns: 1fr 1fr;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    background-image: url("images/bg-for-any-app.png");
    background-repeat: no-repeat;
    color: white;

  }
.logo {
    width: 25px;
}


.encourage {
    padding: 3rem;
    font-family: fantasy;
    margin-bottom: -100px;
}


/* Book Card Styles */
#books {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.book-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    max-height: 700px;
    overflow: hidden; /* Hide overflow content */
    box-shadow: -1rem 0 3rem #000;
}
.book-card:hover {
    cursor: all-scroll;
}
.book-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    
}

.book-card h2 {
    margin-top: 1rem;
    font-family: fantasy;
    letter-spacing: 0.1rem;
    color: #0f0e0f;
    font-size: large;
}

.book-card p {
    background-image: url("images/paper.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #170505;
    opacity: 0.9;
    overflow: auto; /* Allow scrolling for overflow content */
    max-height: 250px; /* Set maximum height for scrollable area */
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-size: 1.7rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    
    border: 1px groove rgb(202, 169, 96);
}
#d5a4bf57-ad50-41c9-a2df-fc39065dceba {
    color: rgb(0, 251, 255);
}
.footer {
    display: grid;
    gap: 10px;
    background-color: #e9e7ea;
    color: #121010;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 405px;
    width: 100%;
    z-index: 100;
    top: 810px;
    padding-top: 1rem;
    padding-bottom: 8rem;
  }
  
  .footer p {
    margin: 0;
    color: gray;
    
  }
  
  .footer a {
    color: #090808;
    text-decoration: none;
  }
  .footer a:hover {
    color: green;
    text-decoration: none;
    cursor:pointer;   
  }

@media (min-width: 320px) {
    .sticky-nav {
        position: sticky;
        top: 0px;
        background-color:transparent;
        padding: 10px 0px;
        padding-right: 50px;
        z-index: 1000;
    }
    .jesus1 {
        top: -215px;
    }


    .jesus {
        top: -215px;
    
}


.encourage {
    margin-bottom: -200px;
    color: rgb(247, 245, 241);
}
}


@media (min-width: 769px) {
    header {
        background-image: url("jerusalem.png");
        opacity: 0.7;
        background-size: cover;
        color: blanchedalmond;
        padding-bottom: 6rem;
        z-index: 100;
      
    }
    .animated-text {
        display: none;
    }
    .iframe {
        height: 300px;
        padding: 25px;
        padding-top: 35px;

       }

    #books {
        display: flex;
        gap: 0.2rem;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
    }
    
.iframe1 {
    background-color: #af83ae;
    padding-left: 10rem;
    padding-right: 10rem;
}


.smooth-transition {
    display: block;
}
    .overcome {
        position:relative;
        top: 0px;
        font-size: xx-large;
    }
    .jesus1 {
        padding: 15px;
        top: -190px;
    }


    .jesus {
        padding: 15px;
        top: -190px;
    }


    #qr {
       width: 50px;     
    }


    .pulse {
        font-size: 1.3rem;
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 01;

    }

    .dropdown:hover .dropdown-content {
        display: grid;
        left: -50px;
        background-color: rgb(167, 218, 218);
        color: white;
        grid-template-columns: 1fr 1fr 1fr;
      }


    .footer {
        grid-template-columns: 1fr 1fr;

    }

    .encourage {
        margin-bottom: 0px;
        color: #000;
    }

   


}

@media (min-width: 1024px) {
    header {
        background-image: url("jerusalem.png");
        opacity: 0.7;
        background-size: cover;
        color: blanchedalmond;
        font-size: xx-large;
        padding-bottom: 20rem;
    }

    #qr {
        
        left: 100px;
        top: -175px;
        width: 100px;
        padding: 30px;
        
    }
    .iframe {
        height: 300px;
        padding: 125px;
        padding-top: 20px;
        padding-bottom: 20px;
       

       }


    .iframe1 {
        background-color: #af83ae;
        padding-left: 15rem;
        padding-right: 15rem;
    }

.encourage {
    margin-bottom: 0px;
}
    .pulse {
        font-size: 1.5rem;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 01;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;

    }
}
