/* styles.css */
.smooth-transition {
    transition: color 0.3s ease-in-out, 0.3s ease-in-out;
  }
  
  .smooth-transition:hover {
    color: rgb(239, 95, 227);
  }
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.bi-arrow-left-square-fill {
    padding-left: 25px;
}

.bi-arrow-right-square-fill {
    padding-left: 25px;
}
.smooth-transition {
    display: none;
}
.bi-pen-fill {
    padding-top: 150px;
    padding-left: 50px;
}
.bi-cup-hot-fill {
    padding-top: 150px;
    padding-left: 50px;
}
.bi-youtube {
    padding-top: 150px;
    padding-left: 50px;
}
#framer {
    display: none;
}

main {
    background-image: linear-gradient(to right, rgb(114, 87, 111), rgba(229, 144, 225, 0.75));
    margin-bottom: 2rem;
}
/* Sticky Nav Styles */

.sticky-nav {
    position: sticky;
    top: 50px;
    background-color: #333;
    background-image: linear-gradient(to right, white, rgba(229, 144, 225, 0.75));
    padding: 10px 0px;
    padding-right: 50px;
    z-index: 1000;
    justify-content: space-between;
    font-family: Nanum Brush Script;
}
.bi:hover {
    color: #fced98;
}

.jesus {
    font-family: Nanum Brush Script;
}

.sticky-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sticky-nav ul li {
    display: inline-block;
   margin: auto;
   align-items: flex-start;
}

.sticky-nav ul li a {
    color: rgb(17, 32, 17);
    text-decoration: none;
}

.sticky-nav ul li a:hover {
    color: rgb(127, 26, 122);
    text-decoration: navajowhite;

}

/* Other styles remain the same */


.iframe1 {
    padding: 10px;
    position: relative;
    animation-name: iframe1;
    animation-duration: 3s;  
    animation-iteration-count: 1;
    animation-timing-function: ease-out;  
}


.overcome {
    position:relative;
    top: 30px;
    text-shadow: none;
    font-size: x-large;
    z-index: 100;
}
.jesus1 {
    position: relative;
    font-size: 2.4rem;
    top: -300px;
    font-family: 'Courier New', Courier, monospace;
}


.jesus {
    position: relative;
    font-size: 2.4rem;
    top: -300px;
    font-family: 'Courier New', Courier, monospace;
}


#qr {
    width: 50px;   
    position: relative;  
    display: grid;
    align-items: center;
    justify-content: center;
    top: -50px;
    z-index: 0;
 }

h1 {
    font-family: "whisper", "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    font-size: 3.5rem;
}
/* Header Styles */
header {
    background-image: url("images/bg-for-any-app.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #a28787;
    color: aliceblue;
    padding-bottom: 2rem;
    text-shadow: 2px 1px black;
    padding: 1rem;
    text-align: center;
}
.header-mask {
    background-color: rgb(54, 2, 53);
    opacity: 0.9;
    z-index: 100;
} 
.take-heart {
    font-weight: bold;
    text-align: center;
    animation: pulse 2s ease-out; /* Animation duration and timing */
}


.header-text {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Animation duration and timing */
    font-family: Rubik Doodle Shadow;
    color: #efef0b;
    text-shadow: 2px 1px purple;
}
.header-fade {
    font-weight: bold;
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Animation duration and timing */
}


@keyframes headerIn {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
}



@keyframes fadeIn {
    0% { opacity: 0.2; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
}




@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        color: rgb(10, 246, 49);
        font-family: Rubik Doodle Shadow;
        background-color: #000;
       
    }
    50% {
        transform: scale(1.01);
        color: rgb(249, 249, 10);
        opacity: 0.5;
    }
}

.pulse {
    animation: pulse  6s infinite;
    position: relative;
    top: -15px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 70px;
    opacity: 0.8;
    
}


@keyframes bounce {
    20%, 50%, 80%, 100%, 0%  {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-35px);
    }
}



/* Example Usage */
.animated-text {
    font-size: 24px;
    text-align: center;
}



.bounce {
    animation: bounce 2s infinite;
   
}


.parallax-header {
    position: relative;
    background-image: url('images/luke_card.png'); /* Replace 'header-image.jpg' with your image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; /* Adjust the height as needed */
    
}
a {
    text-decoration: none;
    color: #0d0c0c;
}
a:hover {
    color:  #0b4f22;
    text-decoration: none;
}
#toggleDropdown {
    background-color: #93418c;
    color: #f2dddd;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}
#toggleDropdown:hover {
    color:rgb(238, 236, 224);
}
.dropdown-content {
    display: none;
    position: absolute;
    color: #0e0e0e;
    background-color: #d5b9b9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #100707;
    color: green;
}

.logo {
    width: 25px;
}
/* Book Card Styles */
#books {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    color: #0e0e0e;
}

.book-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    max-height: 450px;
    overflow: hidden; /* Hide overflow content */
    box-shadow: -1rem 0 3rem #000;
}

.book-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    
}

.book-card h2 {
    margin-top: 1rem;
    font-family: Rubik Doodle Shadow;
    letter-spacing: 0.1rem;
    color: #ae55ad;
    font-size: large;
}

.book-card p {
    background-image: url("images/paper.jpeg");
    opacity: 0.8;
    overflow: auto; /* Allow scrolling for overflow content */
    max-height: 100px; /* Set maximum height for scrollable area */
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 25% 0px 0px;
}
#d5a4bf57-ad50-41c9-a2df-fc39065dceba {
    color: gold;
}
.footer {
    display: grid;
    gap: 10px;
    background-color: #524763;
    color: #ffffff;
    
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    z-index: 100;
    top: 810px;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  
  .footer p {
    margin: 0;
    
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: green;
    text-decoration: none;
    cursor:pointer;   
  }

@media (min-width: 320px) {
    .sticky-nav {
        position: sticky;
        top: 0px;
        background-color: #333;
        background-image: linear-gradient(to right, white, rgba(229, 144, 225, 0.75));
        padding: 10px 0px;
        padding-right: 50px;
        z-index: 1000;
    }
    .jesus1 {
        top: -215px;
    }


    .jesus {
        top: -215px;
    }
}


@media (min-width: 769px) {
    header {
        background-image: url("images/city_bible_reading.png");
        opacity: 0.7;
        color: blanchedalmond;
        padding-bottom: 6rem;
        text-shadow: 3px 1px 1px #0d0c0c;
        z-index: 100;
      
    }

   

    #books {
        display: flex;
        gap: 0.2rem;
        flex-wrap: wrap;
        justify-content: center;
        color: #0e0e0e;
    }
    
.iframe1 {
    background-color: #af83ae;
    padding-left: 10rem;
    padding-right: 10rem;
}


.smooth-transition {
    display: block;
}
    .overcome {
        position:relative;
        top: 0px;
        font-size: xx-large;
    }
    .jesus1 {
        padding: 15px;
        top: -190px;
    }


    .jesus {
        padding: 15px;
        top: -225px;
    }


    #qr {
       width: 50px;     
    }


    .pulse {
        font-size: 1.3rem;
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 01;

    }
    .footer {
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 1024px) {
    header {
        background-image: url("images/luke_card.png");
        opacity: 0.7;
        color: blanchedalmond;
        font-size: xx-large;
        text-shadow: 3px 1px 1px #0d0c0c;
        padding-bottom: 20rem;
    }

    #qr {
        
        left: 100px;
        top: -175px;
        width: 100px;
        padding: 30px;
        
    }
  
    .iframe1 {
        background-color: #af83ae;
        padding-left: 15rem;
        padding-right: 15rem;
    }


    .pulse {
        font-size: 1.5rem;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 01;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;

    }


}

