body {
    font-family: Arial, sans-serif;
    background-color: rgb(92, 40, 141);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
}

.container {
    max-width: 800px;
    background-color: rgb(57, 27, 86);
    background-image: url("images/mystical_mountain_lake.png");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(247, 231, 247);
    text-shadow: 3px 1px 0.1px #021001;
    margin: 50px auto;
    padding: 20px;
}

.testimony {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 16px;
    margin-bottom: 20px;
}

.glory {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}


.donate-button {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
